@import url('../root.css');

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--white);
}

.main-content {
    margin-top: var(--header-height);
}

body {
    overflow-x: hidden;
}

/* Xóa spinner trên Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Xóa spinner trên Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.toast.animate-slide-in {
    animation: slideInRight 0.5s ease-in-out; 
}