@import url('../root.css');

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--white);
}

.main-content {
    margin-top: var(--header-height);
}